examples/Predix_Time_Series/Querying_Datapoints/Time-Bounded-Datapoints.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>This template shows how one might send a request for Time-Bounded Datapoints to a Predix Time Series instance</description>
    <groupId>ed203b3b-e14b-1d88-410e-dc1b7452b726</groupId>
    <name>Time-Bounded-Datapoints</name>
    <snippet>
        <processGroups>
            <id>7e3e44f5-b260-3b4c-0000-000000000000</id>
            <parentGroupId>3aec3bb6-94ef-39b2-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments>This template shows how one might send a request for Time-Bounded Datapoints to a Predix Time Series instance</comments>
            <contents>
                <connections>
                    <id>8319ca06-fd31-3f78-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>e3390e03-9a2c-3742-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Original</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>44a4e3b9-eba2-3a56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c02d831c-b93c-38c8-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>44a4e3b9-eba2-3a56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>cd46717f-3ed9-34e4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ec3d7f80-76fc-36b0-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>76885b97-a30e-3c38-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>d428dd54-1d54-39b8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0e797ac9-e560-3636-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>d428dd54-1d54-39b8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>77ee7eae-1ec7-300e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1e201394-e730-3459-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>91162ba6-b2b0-3f95-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>d428dd54-1d54-39b8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2c78c751-24da-3226-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>966.4843946466729</x>
                        <y>791.623823678357</y>
                    </bends>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>91162ba6-b2b0-3f95-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>d428dd54-1d54-39b8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2f55fdd7-74a1-396b-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>974.0888781145609</x>
                        <y>285.9999986266011</y>
                    </bends>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>228743e7-f940-3a0c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>44a4e3b9-eba2-3a56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>47fc7b69-2e47-38b4-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>228743e7-f940-3a0c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>44a4e3b9-eba2-3a56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>493c4c9b-b0c1-3d4f-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>974.0888781145609</x>
                        <y>135.9999986266011</y>
                    </bends>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>228743e7-f940-3a0c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>240 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>44a4e3b9-eba2-3a56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4c98a876-33f4-3fbe-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>77ee7eae-1ec7-300e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>e3390e03-9a2c-3742-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>785cbf2d-54a9-3132-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>966.4843946466729</x>
                        <y>941.623823678357</y>
                    </bends>
                    <destination>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>91162ba6-b2b0-3f95-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>7e3e44f5-b260-3b4c-0000-000000000000</groupId>
                        <id>d428dd54-1d54-39b8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>35c395bf-4838-3cc4-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>529.958396388955</x>
                        <y>402.36411744664065</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>predixToken</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                    <validationErrors>'Port 'predixToken'' is invalid because Output connection for port 'predixToken' is not defined.</validationErrors>
                </inputPorts>
                <labels>
                    <id>90e7f447-b169-316b-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>863.6525972039492</x>
                        <y>55.64996588629995</y>
                    </position>
                    <height>272.5374450683594</height>
                    <label>This shows where the flow may have failed</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>621.1798095703125</width>
                </labels>
                <labels>
                    <id>b68a44fd-9795-3f31-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>274.8250695052401</x>
                        <y>129.73060629495234</y>
                    </position>
                    <height>150.54861450195312</height>
                    <label>Response containing Predix 
token is placed in an attribute 
with the name TokenResponse</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>14px</value>
                        </entry>
                    </style>
                    <width>561.5830688476562</width>
                </labels>
                <labels>
                    <id>c96d212b-25b9-3e31-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>853.0537517490084</x>
                        <y>538.8458072433239</y>
                    </position>
                    <height>433.9450378417969</height>
                    <label>This shows where or how the invocation to query for Time-Bounded Datapoints may have failed
-
-
Follow the steps below to show more data on queued files
1. Right-click the queue
---&gt;a. A pop-up box covering most of the screen will appear once instructions
-----&gt; in step 2 have been followed
2. Select 'List Files' 
3. Look for an Information icon on the left side of the pop-up box
4. Click the Information icon on the left side of the pop-up box
---&gt;a. Another pop-up box will appear
5. This box may have tabs that contain more information when clicked</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>14px</value>
                        </entry>
                    </style>
                    <width>614.2723999023438</width>
                </labels>
                <labels>
                    <id>f2a8efdc-83f7-37ed-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>92.69524647731376</x>
                        <y>283.31100103943936</y>
                    </position>
                    <height>47.30839920043945</height>
                    <label>Token is placed in ORIGINAL flowfile, not response</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#e0ffd6</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>742.5360717773438</width>
                </labels>
                <labels>
                    <id>08b26715-abda-3afc-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>232.94806290945166</x>
                        <y>785.0538726653585</y>
                    </position>
                    <height>135.86181640625</height>
                    <label>The BODY of the response
flowfile contains the datapoints</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#e0ffd6</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>14px</value>
                        </entry>
                    </style>
                    <width>216.73184204101562</width>
                </labels>
                <labels>
                    <id>0c856959-501c-321e-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>270.4130737039957</x>
                        <y>566.606243255544</y>
                    </position>
                    <height>156.48086547851562</height>
                    <label>The body of the flowfile is
updated to contain the 
required text needed to get
time-bounded datapoints</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>574.3185424804688</width>
                </labels>
                <labels>
                    <id>15b7c04c-a3f1-3703-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-300.57608793339705</x>
                        <y>781.3513692753869</y>
                    </position>
                    <height>159.81031799316406</height>
                    <label>This processor is 
the end of the flow</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>517.7190551757812</width>
                </labels>
                <labels>
                    <id>61f3d1cc-f68a-31d9-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>275.26671035242714</x>
                        <y>331.9726400696139</y>
                    </position>
                    <height>153.06361389160156</height>
                    <label>TokenResponse is updated
to contain only the token 
instead of the entire response</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>14px</value>
                        </entry>
                    </style>
                    <width>559.4767456054688</width>
                </labels>
                <labels>
                    <id>7f8fa886-02b8-32e0-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>466.84667789399896</x>
                        <y>779.686777337346</y>
                    </position>
                    <height>238.05072021484375</height>
                    <label>-
-
-
-
-
-
-
-
-
Predix Time Series is sent a request to 
get aggregation of  datapoints</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>372.890869140625</width>
                </labels>
                <processors>
                    <id>91162ba6-b2b0-3f95-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1086.1119107724744</x>
                        <y>797.9983439349196</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>windows-1252</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>cd46717f-3ed9-34e4-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>478.8315538958109</x>
                        <y>-80.97056302677453</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>60 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>d428dd54-1d54-39b8-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>482.74823337512044</x>
                        <y>791.6974878362721</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>authorization</key>
<value>
    <name>authorization</name>
</value>
                            </entry>
                            <entry>
<key>predix-zone-id</key>
<value>
    <name>predix-zone-id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://time-series-store-predix.run.aws-usw02-pr.ice.predix.io/v1/datapoints/</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>theBody</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>500000</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>authorization</key>
<value>${TokenResponse}</value>
                            </entry>
                            <entry>
<key>predix-zone-id</key>
<value>7ec7ab06-797b-41de-8730-7eff2706815e</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Time-Bounded Datapoints Request</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>e3390e03-9a2c-3742-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>477.1746935442484</x>
                        <y>342.9289537047261</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>http.headers.authorization</key>
<value>
    <name>http.headers.authorization</name>
</value>
                            </entry>
                            <entry>
<key>TokenResponse</key>
<value>
    <name>TokenResponse</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>http.headers.authorization</key>
<value>${TokenResponse:substringBefore('","'):substringAfter('":"')}</value>
                            </entry>
                            <entry>
<key>TokenResponse</key>
<value>${TokenResponse:substringBefore('","'):substringAfter('":"')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>228743e7-f940-3a0c-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1114.4118664402044</x>
                        <y>142.10985918873422</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>windows-1252</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>44a4e3b9-eba2-3a56-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>477.83967157159213</x>
                        <y>143.09889083851516</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>Accept</key>
<value>
    <name>Accept</name>
</value>
                            </entry>
                            <entry>
<key>Authorization</key>
<value>
    <name>Authorization</name>
</value>
                            </entry>
                            <entry>
<key>grant_type</key>
<value>
    <name>grant_type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://619bd75b-5dd0-4ed7-8fc4-a1a21c9723ca.predix-uaa.run.aws-usw02-pr.ice.predix.io/oauth/token?grant_type=client_credentials</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>TokenResponse</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>500000</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/x-www-form-urlencoded</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Accept</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>Authorization</key>
<value>Basic dGltZS1zZXJpZXMtY2xpZW50OnRpbWUtc2VyaWVzLWNsaWVudA==</value>
                            </entry>
                            <entry>
<key>grant_type</key>
<value>client_credentials</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>getPredixToken</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>76885b97-a30e-3c38-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-147.42446717110522</x>
                        <y>797.9982893304045</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>windows-1252</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>77ee7eae-1ec7-300e-0000-000000000000</id>
                    <parentGroupId>7e3e44f5-b260-3b4c-0000-000000000000</parentGroupId>
                    <position>
                        <x>476.5775538338826</x>
                        <y>578.2474011025215</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>{
  "cache_time": 0,
  "tags": [
    {
      "name": "Compressor-2017:CompressionRatio",
      "order": "desc"
    }
  ],
  "start": 1452112200000,
  "end": 1453458897222
}</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Insert text into flowfile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
            </contents>
            <name>Request for Time-Bounded Datapoints</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/09/2018 16:48:38 EDT</timestamp>
</template>
