old_templates/Transformation_Example.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Examples of XML to XML transformation, XML to SOAP and JSON to JSON.</description>
  <groupId>f19e62ed-015a-1000-dfdc-58f785feea2e</groupId>
  <name>Transformation Example</name>
  <snippet>
    <processGroups>
      <id>ddd20891-0161-1000-0000-000000000000</id>
      <parentGroupId>f19e62ed-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <processGroups>
          <id>ddd234d0-0161-1000-0000-000000000000</id>
          <parentGroupId>ddd20891-0161-1000-0000-000000000000</parentGroupId>
          <position>
            <x>211.99999381481086</x>
            <y>-19.268126509697368</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>ddd4863c-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd234d0-0161-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>ddd234d0-0161-1000-0000-000000000000</groupId>
                <id>ddd426b6-0161-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>ddd234d0-0161-1000-0000-000000000000</groupId>
                <id>ddd295cb-0161-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>ddd4caa1-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd234d0-0161-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>ddd234d0-0161-1000-0000-000000000000</groupId>
                <id>ddd4ae06-0161-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>ddd234d0-0161-1000-0000-000000000000</groupId>
                <id>ddd426b6-0161-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <labels>
              <id>dde2cf99-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd234d0-0161-1000-0000-000000000000</parentGroupId>
              <position>
                <x>626.0000014442054</x>
                <y>-4.9999990682911175</y>
              </position>
              <height>39.0</height>
              <label>In this flow we will get XML and use XSLT to transform it into a format 
that is valid input to SAP connector.</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>12px</value>
                </entry>
              </style>
              <width>391.0</width>
            </labels>
            <processors>
              <id>ddd295cb-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd234d0-0161-1000-0000-000000000000</parentGroupId>
              <position>
                <x>238.0000014442054</x>
                <y>-25.999999068291118</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>File Size</key>
                    <value>
                      <name>File Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>
                      <name>Batch Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>
                      <name>Data Format</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>
                      <name>Unique FlowFiles</name>
                    </value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                    <value>
                      <name>generate-ff-custom-text</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>File Size</key>
                    <value>0B</value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>Text</value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                    <value>&lt;?xml version="1.0" encoding="UTF-8"?&gt;&lt;root&gt;&lt;request&gt;&lt;criteria&gt;&lt;endDate&gt;20180228&lt;/endDate&gt;&lt;documentType&gt;ZEM&lt;/documentType&gt;&lt;documentType&gt;ZSI&lt;/documentType&gt;&lt;documentType&gt;ZEO&lt;/documentType&gt;&lt;documentType&gt;ZLN&lt;/documentType&gt;&lt;documentType&gt;ZSB&lt;/documentType&gt;&lt;documentType&gt;ZSC&lt;/documentType&gt;&lt;externalStatus&gt;SU&lt;/externalStatus&gt;&lt;startDate&gt;20180227&lt;/startDate&gt;&lt;/criteria&gt;&lt;name&gt;Document&lt;/name&gt;&lt;/request&gt;&lt;envelope&gt;&lt;messageId&gt;ef5b4bcc-1eb7-4fb5-8e5d-44661b9c4c46&lt;/messageId&gt;&lt;correlationId&gt;ef5b4bcc-1eb7-4fb5-8e5d-44661b9c4c46&lt;/correlationId&gt;&lt;source&gt;SS-RM&lt;/source&gt;&lt;timestamp&gt;02/28/2018 19:10:23&lt;/timestamp&gt;&lt;target&gt;AVA-SAP&lt;/target&gt;&lt;/envelope&gt;&lt;/root&gt;</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GenerateFlowFile</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
            </processors>
            <processors>
              <id>ddd426b6-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd234d0-0161-1000-0000-000000000000</parentGroupId>
              <position>
                <x>246.0000014442054</x>
                <y>156.00000093170888</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>XSLT file name</key>
                    <value>
                      <name>XSLT file name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>indent-output</key>
                    <value>
                      <name>indent-output</name>
                    </value>
                  </entry>
                  <entry>
                    <key>cache-size</key>
                    <value>
                      <name>cache-size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>cache-ttl-after-last-access</key>
                    <value>
                      <name>cache-ttl-after-last-access</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>XSLT file name</key>
                    <value>C:\Users\502728587\Desktop\Documents\transformations\document.xslt</value>
                  </entry>
                  <entry>
                    <key>indent-output</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>cache-size</key>
                    <value>10</value>
                  </entry>
                  <entry>
                    <key>cache-ttl-after-last-access</key>
                    <value>60 secs</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>TransformXml</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.TransformXml</type>
            </processors>
            <processors>
              <id>ddd4ae06-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd234d0-0161-1000-0000-000000000000</parentGroupId>
              <position>
                <x>249.0000014442054</x>
                <y>322.0000009317089</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Directory</key>
                    <value>
                      <name>Directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Conflict Resolution Strategy</key>
                    <value>
                      <name>Conflict Resolution Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Create Missing Directories</key>
                    <value>
                      <name>Create Missing Directories</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum File Count</key>
                    <value>
                      <name>Maximum File Count</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Last Modified Time</key>
                    <value>
                      <name>Last Modified Time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Permissions</key>
                    <value>
                      <name>Permissions</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Owner</key>
                    <value>
                      <name>Owner</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Group</key>
                    <value>
                      <name>Group</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Directory</key>
                    <value>C:\Users\502728587\Desktop\Documents\transformations\TransformedXML\</value>
                  </entry>
                  <entry>
                    <key>Conflict Resolution Strategy</key>
                    <value>replace</value>
                  </entry>
                  <entry>
                    <key>Create Missing Directories</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Maximum File Count</key>
                  </entry>
                  <entry>
                    <key>Last Modified Time</key>
                  </entry>
                  <entry>
                    <key>Permissions</key>
                  </entry>
                  <entry>
                    <key>Owner</key>
                  </entry>
                  <entry>
                    <key>Group</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>PutFile</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.PutFile</type>
            </processors>
          </contents>
          <name>XML to XML using XSLT</name>
        </processGroups>
        <processGroups>
          <id>ddd24f43-0161-1000-0000-000000000000</id>
          <parentGroupId>ddd20891-0161-1000-0000-000000000000</parentGroupId>
          <position>
            <x>217.99999381481086</x>
            <y>196.73187349030263</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>dde4aa53-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd24f43-0161-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>ddd24f43-0161-1000-0000-000000000000</groupId>
                <id>dde46de3-0161-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>ddd24f43-0161-1000-0000-000000000000</groupId>
                <id>dde44d1e-0161-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>dde4bffc-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd24f43-0161-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>ddd24f43-0161-1000-0000-000000000000</groupId>
                <id>dde49344-0161-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>ddd24f43-0161-1000-0000-000000000000</groupId>
                <id>dde46de3-0161-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <labels>
              <id>de41555e-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd24f43-0161-1000-0000-000000000000</parentGroupId>
              <position>
                <x>585.0000014442054</x>
                <y>-7.9999990682911175</y>
              </position>
              <height>41.0</height>
              <label>This flow will transform JSON using JOLT. It has been used in a POC where we received
the original JSON from Salesforce and needed to convert it into a format that Dispatch API understood.</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>12px</value>
                </entry>
              </style>
              <width>565.0</width>
            </labels>
            <processors>
              <id>dde44d1e-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd24f43-0161-1000-0000-000000000000</parentGroupId>
              <position>
                <x>218.0000014442054</x>
                <y>-30.999999068291118</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>File Size</key>
                    <value>
                      <name>File Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>
                      <name>Batch Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>
                      <name>Data Format</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>
                      <name>Unique FlowFiles</name>
                    </value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                    <value>
                      <name>generate-ff-custom-text</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>File Size</key>
                    <value>0B</value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>Text</value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                    <value>{
  "totalSize": 260,
  "done": true,
  "records": [
    {
      "attributes": {
        "type": "Account",
        "url": "/services/data/v41.0/sobjects/Account/001F000001ZIu5GIAT"
      },
      "Id": "001F000001ZIu5GIAT",
      "Name": "shanghai",
      "AccountNumber": "123"
    },
    {
      "attributes": {
        "type": "Account",
        "url": "/services/data/v41.0/sobjects/Account/001F000001ZVCafIAH"
      },
      "Id": "001F000001ZVCafIAH",
      "Name": "Account0001",
      "AccountNumber": "1233"
    }
  ]
}</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GenerateFlowFile</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
            </processors>
            <processors>
              <id>dde46de3-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd24f43-0161-1000-0000-000000000000</parentGroupId>
              <position>
                <x>221.0000014442054</x>
                <y>152.00000093170888</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>jolt-transform</key>
                    <value>
                      <name>jolt-transform</name>
                    </value>
                  </entry>
                  <entry>
                    <key>jolt-custom-class</key>
                    <value>
                      <name>jolt-custom-class</name>
                    </value>
                  </entry>
                  <entry>
                    <key>jolt-custom-modules</key>
                    <value>
                      <name>jolt-custom-modules</name>
                    </value>
                  </entry>
                  <entry>
                    <key>jolt-spec</key>
                    <value>
                      <name>jolt-spec</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>jolt-transform</key>
                    <value>jolt-transform-chain</value>
                  </entry>
                  <entry>
                    <key>jolt-custom-class</key>
                  </entry>
                  <entry>
                    <key>jolt-custom-modules</key>
                  </entry>
                  <entry>
                    <key>jolt-spec</key>
                    <value>    [
       {
         "operation": "shift",
         "spec": {
           "records": {
             "*": {
               "Id": "[&amp;1].io_external_id",
               "Name": "[&amp;1].io_name",
               "AccountNumber": "[&amp;1].io_Account_Number"
             }
           }
         }
       }
]
</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>JoltTransformJSON</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
            </processors>
            <processors>
              <id>dde49344-0161-1000-0000-000000000000</id>
              <parentGroupId>ddd24f43-0161-1000-0000-000000000000</parentGroupId>
              <position>
                <x>218.0000014442054</x>
                <y>325.0000009317089</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Directory</key>
                    <value>
                      <name>Directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Conflict Resolution Strategy</key>
                    <value>
                      <name>Conflict Resolution Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Create Missing Directories</key>
                    <value>
                      <name>Create Missing Directories</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum File Count</key>
                    <value>
                      <name>Maximum File Count</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Last Modified Time</key>
                    <value>
                      <name>Last Modified Time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Permissions</key>
                    <value>
                      <name>Permissions</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Owner</key>
                    <value>
                      <name>Owner</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Group</key>
                    <value>
                      <name>Group</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Directory</key>
                    <value>C:\Users\502728587\Desktop\Documents\transformations\TransformedJSON\</value>
                  </entry>
                  <entry>
                    <key>Conflict Resolution Strategy</key>
                    <value>replace</value>
                  </entry>
                  <entry>
                    <key>Create Missing Directories</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Maximum File Count</key>
                  </entry>
                  <entry>
                    <key>Last Modified Time</key>
                  </entry>
                  <entry>
                    <key>Permissions</key>
                  </entry>
                  <entry>
                    <key>Owner</key>
                  </entry>
                  <entry>
                    <key>Group</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>PutFile</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.PutFile</type>
            </processors>
          </contents>
          <name>JSON to JSON using JOLT</name>
        </processGroups>
        <processGroups>
          <id>f36f7d01-015b-1000-0000-000000000000</id>
          <parentGroupId>ddd20891-0161-1000-0000-000000000000</parentGroupId>
          <position>
            <x>661.4495849609375</x>
            <y>-19.950149536132812</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>d4e47c8c-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>d4e45435-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>d4e4347a-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>ee3c6167-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>ee3c17ac-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>Failure</selectedRelationships>
              <selectedRelationships>No Retry</selectedRelationships>
              <selectedRelationships>Response</selectedRelationships>
              <selectedRelationships>Retry</selectedRelationships>
              <source>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>d4e45435-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>ef24d902-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>ef24b72b-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>d4dd59f6-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>ef284051-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>d4e4347a-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>matched</selectedRelationships>
              <selectedRelationships>unmatched</selectedRelationships>
              <source>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>ef24b72b-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>ef2a0736-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>ef29abdc-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>ee3c17ac-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>ef2f4829-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>ef2f203c-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>ef29abdc-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>ef2f7196-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>d4dd7129-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>f36f7d01-015b-1000-0000-000000000000</groupId>
                <id>ef2f203c-015b-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <controllerServices>
              <id>8965a590-015a-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <comments></comments>
              <descriptors>
                <entry>
                  <key>Maximum Outstanding Requests</key>
                  <value>
                    <name>Maximum Outstanding Requests</name>
                  </value>
                </entry>
                <entry>
                  <key>Request Expiration</key>
                  <value>
                    <name>Request Expiration</name>
                  </value>
                </entry>
              </descriptors>
              <name>getRouterControllerService</name>
              <properties>
                <entry>
                  <key>Maximum Outstanding Requests</key>
                  <value>5000</value>
                </entry>
                <entry>
                  <key>Request Expiration</key>
                  <value>1 min</value>
                </entry>
              </properties>
              <state>ENABLED</state>
              <type>org.apache.nifi.http.StandardHttpContextMap</type>
            </controllerServices>
            <labels>
              <id>df3d03ed-0161-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <position>
                <x>959.1128072848993</x>
                <y>-132.4419105433713</y>
              </position>
              <height>83.69400787353516</height>
              <label>In this use case, we receive XML, convert to SOAP 
and make a call to SAP PI. We then convert the 
response back to XML and respond to the
client.</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>12px</value>
                </entry>
              </style>
              <width>307.27655029296875</width>
            </labels>
            <processors>
              <id>d4dd59f6-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <position>
                <x>60.0</x>
                <y>-140.0</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Listening Port</key>
                    <value>
                      <name>Listening Port</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Hostname</key>
                    <value>
                      <name>Hostname</name>
                    </value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>SSL Context Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>HTTP Context Map</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
                      <name>HTTP Context Map</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Allowed Paths</key>
                    <value>
                      <name>Allowed Paths</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Default URL Character Set</key>
                    <value>
                      <name>Default URL Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Allow GET</key>
                    <value>
                      <name>Allow GET</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Allow POST</key>
                    <value>
                      <name>Allow POST</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Allow PUT</key>
                    <value>
                      <name>Allow PUT</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Allow DELETE</key>
                    <value>
                      <name>Allow DELETE</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Allow HEAD</key>
                    <value>
                      <name>Allow HEAD</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Allow OPTIONS</key>
                    <value>
                      <name>Allow OPTIONS</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Additional HTTP Methods</key>
                    <value>
                      <name>Additional HTTP Methods</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Client Authentication</key>
                    <value>
                      <name>Client Authentication</name>
                    </value>
                  </entry>
                  <entry>
                    <key>container-queue-size</key>
                    <value>
                      <name>container-queue-size</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Listening Port</key>
                    <value>3033</value>
                  </entry>
                  <entry>
                    <key>Hostname</key>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                  </entry>
                  <entry>
                    <key>HTTP Context Map</key>
                    <value>8965a590-015a-1000-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>Allowed Paths</key>
                  </entry>
                  <entry>
                    <key>Default URL Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Allow GET</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Allow POST</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Allow PUT</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Allow DELETE</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Allow HEAD</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Allow OPTIONS</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Additional HTTP Methods</key>
                  </entry>
                  <entry>
                    <key>Client Authentication</key>
                    <value>No Authentication</value>
                  </entry>
                  <entry>
                    <key>container-queue-size</key>
                    <value>50</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>SFDC-REST</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
            </processors>
            <processors>
              <id>d4dd7129-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <position>
                <x>594.9685363769531</x>
                <y>391.0476379394531</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>HTTP Status Code</key>
                    <value>
                      <name>HTTP Status Code</name>
                    </value>
                  </entry>
                  <entry>
                    <key>HTTP Context Map</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
                      <name>HTTP Context Map</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>HTTP Status Code</key>
                    <value>200</value>
                  </entry>
                  <entry>
                    <key>HTTP Context Map</key>
                    <value>8965a590-015a-1000-0000-000000000000</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Return XML response to client</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
            </processors>
            <processors>
              <id>d4e4347a-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <position>
                <x>61.0</x>
                <y>34.0</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>XSLT file name</key>
                    <value>
                      <name>XSLT file name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>indent-output</key>
                    <value>
                      <name>indent-output</name>
                    </value>
                  </entry>
                  <entry>
                    <key>cache-size</key>
                    <value>
                      <name>cache-size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>cache-ttl-after-last-access</key>
                    <value>
                      <name>cache-ttl-after-last-access</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>XSLT file name</key>
                    <value>C:\Users\502728587\Desktop\sfdc-req.xslt</value>
                  </entry>
                  <entry>
                    <key>indent-output</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>cache-size</key>
                    <value>10</value>
                  </entry>
                  <entry>
                    <key>cache-ttl-after-last-access</key>
                    <value>60 secs</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Transform XML to SOAP</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.TransformXml</type>
            </processors>
            <processors>
              <id>d4e45435-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <position>
                <x>583.5170288085938</x>
                <y>39.98826599121094</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>HTTP Method</key>
                    <value>
                      <name>HTTP Method</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Remote URL</key>
                    <value>
                      <name>Remote URL</name>
                    </value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>SSL Context Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Connection Timeout</key>
                    <value>
                      <name>Connection Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Read Timeout</key>
                    <value>
                      <name>Read Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Include Date Header</key>
                    <value>
                      <name>Include Date Header</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Follow Redirects</key>
                    <value>
                      <name>Follow Redirects</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Attributes to Send</key>
                    <value>
                      <name>Attributes to Send</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Basic Authentication Username</key>
                    <value>
                      <name>Basic Authentication Username</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Basic Authentication Password</key>
                    <value>
                      <name>Basic Authentication Password</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                    <value>
                      <name>Proxy Host</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Port</key>
                    <value>
                      <name>Proxy Port</name>
                    </value>
                  </entry>
                  <entry>
                    <key>invokehttp-proxy-user</key>
                    <value>
                      <name>invokehttp-proxy-user</name>
                    </value>
                  </entry>
                  <entry>
                    <key>invokehttp-proxy-password</key>
                    <value>
                      <name>invokehttp-proxy-password</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Put Response Body In Attribute</key>
                    <value>
                      <name>Put Response Body In Attribute</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Max Length To Put In Attribute</key>
                    <value>
                      <name>Max Length To Put In Attribute</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Digest Authentication</key>
                    <value>
                      <name>Digest Authentication</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Always Output Response</key>
                    <value>
                      <name>Always Output Response</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Trusted Hostname</key>
                    <value>
                      <name>Trusted Hostname</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Add Response Headers to Request</key>
                    <value>
                      <name>Add Response Headers to Request</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Content-Type</key>
                    <value>
                      <name>Content-Type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>send-message-body</key>
                    <value>
                      <name>send-message-body</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Use Chunked Encoding</key>
                    <value>
                      <name>Use Chunked Encoding</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Penalize on "No Retry"</key>
                    <value>
                      <name>Penalize on "No Retry"</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>HTTP Method</key>
                    <value>POST</value>
                  </entry>
                  <entry>
                    <key>Remote URL</key>
                    <value>http://sabad19264.power.alstom.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=GE_SFDC_D&amp;receiverParty=&amp;receiverService=&amp;interface=oa_OppID&amp;interfaceNamespace=urn:ge.sys:SFDC:OppID 
</value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                  </entry>
                  <entry>
                    <key>Connection Timeout</key>
                    <value>5 secs</value>
                  </entry>
                  <entry>
                    <key>Read Timeout</key>
                    <value>15 secs</value>
                  </entry>
                  <entry>
                    <key>Include Date Header</key>
                    <value>True</value>
                  </entry>
                  <entry>
                    <key>Follow Redirects</key>
                    <value>True</value>
                  </entry>
                  <entry>
                    <key>Attributes to Send</key>
                  </entry>
                  <entry>
                    <key>Basic Authentication Username</key>
                    <value>DI1_TEST</value>
                  </entry>
                  <entry>
                    <key>Basic Authentication Password</key>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                  </entry>
                  <entry>
                    <key>Proxy Port</key>
                  </entry>
                  <entry>
                    <key>invokehttp-proxy-user</key>
                  </entry>
                  <entry>
                    <key>invokehttp-proxy-password</key>
                  </entry>
                  <entry>
                    <key>Put Response Body In Attribute</key>
                  </entry>
                  <entry>
                    <key>Max Length To Put In Attribute</key>
                    <value>256</value>
                  </entry>
                  <entry>
                    <key>Digest Authentication</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Always Output Response</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Trusted Hostname</key>
                  </entry>
                  <entry>
                    <key>Add Response Headers to Request</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Content-Type</key>
                    <value>text/xml;charset=UTF-8</value>
                  </entry>
                  <entry>
                    <key>send-message-body</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Use Chunked Encoding</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Penalize on "No Retry"</key>
                    <value>false</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Invoke SAP webservice</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>No Retry</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Retry</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
            </processors>
            <processors>
              <id>ee3c17ac-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <position>
                <x>65.74716186523438</x>
                <y>225.34925842285156</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>XSLT file name</key>
                    <value>
                      <name>XSLT file name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>indent-output</key>
                    <value>
                      <name>indent-output</name>
                    </value>
                  </entry>
                  <entry>
                    <key>cache-size</key>
                    <value>
                      <name>cache-size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>cache-ttl-after-last-access</key>
                    <value>
                      <name>cache-ttl-after-last-access</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>XSLT file name</key>
                    <value>C:\Users\502728587\Desktop\sfdc-resp.xslt</value>
                  </entry>
                  <entry>
                    <key>indent-output</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>cache-size</key>
                    <value>10</value>
                  </entry>
                  <entry>
                    <key>cache-ttl-after-last-access</key>
                    <value>60 secs</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Transform SOAP to XML</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.TransformXml</type>
            </processors>
            <processors>
              <id>ef24b72b-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <position>
                <x>585.452880859375</x>
                <y>-136.82072520256042</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Destination</key>
                    <value>
                      <name>Destination</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>
                      <name>Return Type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ID</key>
                    <value>
                      <name>ID</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Destination</key>
                    <value>flowfile-attribute</value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>auto-detect</value>
                  </entry>
                  <entry>
                    <key>ID</key>
                    <value>string(//ID/text())</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Pull data from XML request</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.EvaluateXPath</type>
            </processors>
            <processors>
              <id>ef29abdc-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <position>
                <x>588.053466796875</x>
                <y>218.2839813232422</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Regular Expression</key>
                    <value>
                      <name>Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>
                      <name>Replacement Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>
                      <name>Maximum Buffer Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>
                      <name>Replacement Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>
                      <name>Evaluation Mode</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Regular Expression</key>
                    <value>&lt;ID/&gt;</value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>&lt;ID&gt;${ID}&lt;/ID&gt;</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>1 MB</value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>Regex Replace</value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>Entire text</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ReplaceText</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ReplaceText</type>
            </processors>
            <processors>
              <id>ef2f203c-015b-1000-0000-000000000000</id>
              <parentGroupId>f36f7d01-015b-1000-0000-000000000000</parentGroupId>
              <position>
                <x>65.50650024414062</x>
                <y>392.3782653808594</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Regular Expression</key>
                    <value>
                      <name>Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>
                      <name>Replacement Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>
                      <name>Maximum Buffer Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>
                      <name>Replacement Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>
                      <name>Evaluation Mode</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Regular Expression</key>
                    <value>&lt;STATUS/&gt;</value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>&lt;STATUS&gt;${invokehttp.status.code}&lt;/STATUS&gt;</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>1 MB</value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>Regex Replace</value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>Entire text</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ReplaceText</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ReplaceText</type>
            </processors>
          </contents>
          <name>XML to SOAP using XSLT</name>
        </processGroups>
      </contents>
      <name>Transformations example</name>
    </processGroups>
  </snippet>
  <timestamp>02/28/2018 20:51:25 EST</timestamp>
</template>